<div class="basket-item">
    <img src="product2.png" class="basket-item__image">
    <div class="basket-itemInfo">
        <p class="basket-item__title">Серебряное кольцо с покрытием 'бронза'</p>
        <p class="basket-item__category">категория: SLIP</p>
        <p class="basket-item__size">размер: 17 RU</p>
        <select class="basket-item__quantity">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
        </select>
    </div>
    <p class="basket-item__price">8 998,00 р</p>
    <a href="#" class="basket-item__remove">x</a>
</div>