{% extends 'adminapp/base.html' %}
{% load static %}


{% block content %}
    <div class="object-title">{{ title }}</div>
    <div class="userlist-wrap">
        <div class="object-infoTitle category-infoTitle">
            <div>Название</div>
            <div>Товары категории</div>
            <div>Редактировать</div>
            <div>Удалить</div>
        </div>
    {% for object in object_list %}
        <div class="object-info categories-info {% if not object.is_active %}isdelete{% endif %}">
            <div>{{ object.name }}</div>
            <a href="{% url 'admin:products_in_category_read' object.pk %}" class="menu-products__link"><i class="fa fa-eye" aria-hidden="true"></i></a>
            <a href="{% url 'admin:category_update' object.pk %}"><img src="{% static 'img/edit.png' %}" class="delete-basket"></a>
            <a href="{% url 'admin:category_delete' object.pk %}"><img src="{% static 'img/delete.png' %}" class="delete-basket"></a>
        </div>
    {% endfor %}
    </div>
    <div class="paginator">
        {% if paginator.count > page_obj|length %}
            {% with ''|center:page_obj.paginator.num_pages as range %}
                {% for _ in range %}
                    <div class="paginator__item">
                        {% if forloop.counter == page_obj.number %}
                            <p class="paginator-text">{{ forloop.counter }}</p>
                        {% else %}
                            <p class="paginator-text"><a href="{% url 'admin:category_page' forloop.counter %}" class="paginator-link">{{ forloop.counter }}</a></p>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endwith %}
        {% endif %}
    </div>
{% endblock %}