{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
    <div class="object-title">{{ title }}</div>
    <div class="userlist-wrap">
        <div class="object-infoTitle">
            <div>Логин</div>
            <div>E-mail</div>
            <div>Имя пользователя</div>
            <div>Возраст</div>
            <div>Аватарка</div>
            <div>Роль</div>
            <div>Редактировать</div>
            <div>Удалить</div>
        </div>
    {% for object in object_list %}
        <div class="object-info {% if not object.is_active %}isdelete{% endif %}">
            <div>{{ object.username }}</div>
            <div>{{ object.email }}</div>
            <div>{{ object.first_name }}</div>
            <div>{{ object.age }}</div>
            <img src="/media/{{ object.avatar|default:'users_avatar/avchik.png' }}" alt="{{ object.username }}" class="user-avatar">
            <div>{% if object.is_superuser %}администратор{% else %}пользователь{% endif %}</div>
            <a href="{% url 'admin:user_update' object.pk %}"><img src="{% static 'img/edit.png' %}" class="delete-basket"></a>
            <a href="{% url 'admin:user_delete' object.pk %}"><img src="{% static 'img/delete.png' %}" class="delete-basket"></a>
        </div>
    {% endfor %}
    </div>
    {% if paginator.count > page_obj|length %}
        <div class="paginator">
            {% with ''|center:page_obj.paginator.num_pages as range %}
                {% for _ in range %}
                    <div class="paginator__item">
                        {% if forloop.counter == page_obj.number %}
                            <p class="paginator-text">{{ forloop.counter }}</p>
                        {% else %}
                            <p class="paginator-text"><a href="{% url 'admin:user_page' forloop.counter %}" class="paginator-link">{{ forloop.counter }}</a></p>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endwith %}
        </div>
    {% endif %}
{% endblock %}