@import url(admin-users.css);
@import url(admin-user-delete.css);


body {
    background: #fff;
}

.header {
    background: #fff;
    height: 70px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.header .container-fluid {
    height: inherit;
    padding-top: 23px;
    margin-left: 0;
    margin-right: 20px;
}

.menu-left {
    height: 100vh;
    width: 60%;
    background: #fff;
    position: absolute;
    left: -10%;
    top: -50%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    z-index: 99;
    display: none;

}

.menu-close {
    position: absolute;
    left: 22%;
    top: 23px;
    cursor: pointer;
}

.menu-leftContent {
    position: relative;
    top: 130px;
    text-align: center;
    width: 100%;
}

.menu-users,
.menu-products,
.menu-categories {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.menu-users-title,
.menu-products-title,
.menu-categories-title {
    font-family: 'Merriweather', serif;
    font-size: 16px;
    margin-bottom: 40px;
}

.menu-wrap {
    content: '';
    border-bottom: 1px solid #000;
    display: block;
    padding 10px 0;
}

.menu-wrap:first-child:before {
    content: '';
    border-top: 1px solid #000;
    padding-top: 10px;
    display: block;
}


.menu-users__item,
.menu-categories__item,
.menu-products__item {
    width: 80px;
    height: 30px;
    background: #bcbed4;
    border-radius: 100%;
}

.menu-users__link,
.menu-categories__link,
.menu-products__link,
.menu-users__link:hover,
.menu-categories__link:hover,
.menu-products__link:hover {
    color: #000;
    text-decoration: none;
}

.menu-users__item:hover,
.menu-categories__item:hover,
.menu-products__item:hover {
    background: #f2f2f2;
}


.fa-bars {
    cursor: pointer;
    z-index: 999;
}

.header-input {
    border: none;
    margin-left: 15px;
    color: #b0b0b0;
}

.header-input:focus {
    border: none;
    outline: none;
}

.header-input::placeholder {
    color: #b0b0b0;
}

.fa-bell-o, .fa-envelope-o, .fa-home  {
    color: #858585;
}
.header-menu {
    position: relative;
    z-index: 999;
}

.header-menu-span {
    color: #666;
}

.header-avatar {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.fa-bell-o,
.fa-envelope-o,
.header-menu-span,
.header-language {
    cursor: pointer;

}

.header-nav {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.header-nav li:not(:first-child) {
    margin-left: 20px;
}

.header-language {
    height: 20px;
}

.header-menu-span {
    font-family: 'Karla', sans-serif;
}

.content-title {
    text-align: center;

}

.active {
    display: block;
}

.main-content {
    padding-top: 50px;
}

.isdelete {
    opacity: 0.5;
}

.products-info {
    grid-template-columns: 1fr 1fr 0.5fr 0.5fr 0.5fr 0.5fr 1fr 1fr
}

.product-image {
    width: 120px;
    height: 100px;
}

.products-inCategory-info {
    grid-template-columns: 1fr 1fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr
}

.paginator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.paginator__item {
    padding: 10px 20px;
    border: 1px solid rgba(212, 212, 212, 0.6);
    color: #428bca;
}

.paginator__item:hover {
    background: #428bca;
    color: #fff;
}

.paginator-text {
    margin: 0;
}

.paginator__item:hover .paginator-link{
    color: #fff;
    text-decoration: none;
}