@import url(fonts.css);
@import url(description.css);
@import url(about.css);

body {
    padding: 0;
    margin: 0;
}

.container {
    width: 1180px;
    margin: auto;
    min-height: inherit;
}

.header {
    background: #fafafa;
    min-height: 256px;
}

.headerTitle {
    margin: auto;
    text-align: center;
    padding-top: 23px;
    font-family: 'arBonnie', sans-serif;
    font-size: 102.909px;
    line-height: 78px;
    color: #272420;
    text-transform: uppercase;
    font-weight: 500;
}

.headerTitle span {
    font-family: 'CenturyGothic';
    font-weight: 400;
    padding: 0;
    position: relative;
    font-size: 58.3152px;
    line-height: 100px;
    top: -15px;
    text-transform: lowercase;
}

.headerMenu {
    display: flex;
    justify-content: space-between;
}

.headerLeftMenu,
.headerRightMenu {
    float: left;
    padding-left: 0;
    margin: 0;
    list-style: none;
    display: grid;
    width: auto;
    grid-template-columns: 130px 150px;
    grid-gap: 10px;
}

.leftMenuLineAfter {
    height: 1.5px;
    background: #000;
    width: 43%;
    position: absolute;
    top: 212px;
    left: 0;
}

.leftMenuLineAfter_right {
    position: absolute;
    top: 212px;
    left: 56%;
    width: 44%;
}

.headerRightMenu {
    grid-template-columns: 110px 140px;
    justify-items: end;
}


.aboutUs {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 120%;
    letter-spacing: 0.03em;
    font-variant: small-caps;
    position: relative;
    margin: 0;
    left: -20px;
}

.aboutUs__link {
    text-decoration: none;
    color: #716360;
}

.headerRightMenu {
    float: right;
    width: auto;
}

.headerRightMenuItem_login {
    grid-column-start: 2;
    justify-self: end;
}

.headerLeftMenuItem,
.headerRightMenuItem {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 120%;
    letter-spacing: 0.03em;
    font-variant: small-caps;
    color: #716360;
    text-transform: lowercase;
}

.headerLeftMenu__link,
.headerRightMenu__link {
    text-decoration: none;
    color: #716360;
}

.bottomRow {
    grid-row-start: 3;
}

.headerRightMenuItem_search {
    display: flex;
}

.headerRightMenu__img {
    height: 20px;
    width: 20px;
    position: relative;
    left: 3px;
    cursor: pointer;
}

.catalog {
    background: #cccccc;
    min-height: 300px;
}

.containerUp {
    min-height: 0;
}

.catalogTitle {
    text-align: center;
    margin-top: 0;
    margin-bottom: 32px;
    padding-top: 32px;
    font-family: 'Cormorant Unicase', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #000000;
    margin: 0;
}

.catalogMenu {
    background: #675757;
    padding-left: 0;
    width: 100%;
    margin-top: 32px;
}

.catalogMenu .container {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.mainProducts {
    min-height: 800px;
}

.catalogMenu__item {
    font-family: 'arBonnie', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 61.4654px;
    line-height: 73px;
    color: #FFFFFF;
}

.catalogMenu__link {
    text-decoration: none;
    color: #FFFFFF;
}

.catalogFiltersTitle {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 120%;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    color: #000000;
    margin-bottom: 37px;
}

.catalogFilters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.catalogFilters__item {
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    width: 322px;
    height: 80px;
    background: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    color: #000000;
    background-image:
        linear-gradient(45deg, transparent 50%, gray 50%),
        linear-gradient(135deg, gray 50%, transparent 50%),
        radial-gradient(#ddd 70%, transparent 72%);
    background-position:
        calc(100% - 30px) calc(1em + 4px),
        calc(100% - 25px) calc(1em + 4px),
        calc(100% - .5em) .5em;
    background-size:
        5px 5px,
        5px 5px,
        1.5em 1.5em;
    background-repeat: no-repeat;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 8px;
}

.catalogFilters__item:focus {
    outline: none;
    background-image:
        linear-gradient(45deg, white 50%, transparent 50%),
        linear-gradient(135deg, transparent 50%, white 50%),
        radial-gradient(gray 70%, transparent 72%);
    background-position:
        calc(100% - 25px) 1em,
        calc(100% - 30px) 1em,
        calc(100% - .5em) .5em;
    background-size:
        5px 5px,
        5px 5px,
        1.5em 1.5em;
    background-repeat: no-repeat;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.productsItem {
    margin-left: 20px;
    padding-top: 20px;
    position: relative;
}

.productsItem__img {
    box-shadow: 3px 0 10px rgba(0, 0, 0, 0.5);
}

.productItemInfo {
    background: #d2d7dc;
    position: absolute;
    top: 81%;
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 38.86px;
}

.productItemInfo__name {
    font-family: 'arBonnie', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 61.4654px;
    line-height: 73px;
    margin: 0;
    color: #FFFFFF;
    position: relative;
    top: -15px;
    left: 10px;
}

.productItemInfo__link {
    color: #FFFFFF;
    text-decoration: none;
}

.productItemInfo__price {
    font-family: 'Cormorant Unicase', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22.0822px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #000000;
    margin-top: 5px;
    padding-right: 10px;
}

.catalogMoreInfo {
    text-align: center;
    margin-top: 40px;
    width: 100%;
    padding-bottom: 399px;
}

.catalogMoreInfo__link {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    cursor: pointer;
    color: #000000;
}

.catalogMoreInfoLine {
    height: 2px;
    background: #000;
    width: 20%;
    margin-top: 20px;
    display: block;
    margin: 18px auto;
}

.catalogMoreInfoLine_length {
    width: 12%;
}

.footer {
    background: #e2e2e2;
    min-height: 256px;
}

.footerInner {
    display: flex;
    justify-content: space-between;
    padding-top: 48px;
}

.contacts {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.03em;
    text-transform: lowercase;
    color: #000000;
}

.contacts__item {
    margin-top: 0;
    max-width: 270px;
}

.footerMenu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 102px;
    grid-row-gap: 36px;
    padding-left: 0;
}

.footerMenu__item {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.03em;
    font-variant: small-caps;
    list-style: none;

}

.footerMenu__link {
    color: #373130;
    text-decoration-line: underline;
}

.footerSocials {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footerSocials__item {
    cursor: pointer;
}
