{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}

    {% endblock %}

    {% block css %}
        <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@700&family=Montserrat:wght@400;700&family=Raleway&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}
</head>
<body>
    {% block header %}
        <header class="header">
            <div class="container">
                <h2 class="headerTitle">Ring <span class="headerTitle__span">roll</span></h2>
                <div class="headerMenu">
                    <div class="leftContentWrap">
                        <ul class="headerLeftMenu">
                            <li class="headerLeftMenuItem"><a href="{% url 'main:index' %}" class="headerLeftMenu__link">главная</a></li>
                            <li class="headerLeftMenuItem bottomRow"><a href="{% url 'main:index' %}" class="headerLeftMenu__link">каталог</a></li>
                            <li class="headerLeftMenuItem bottomRow"><a href="#" class="headerLeftMenu__link">доставка</a></li>
                        </ul>
                        <div class="leftMenuLineAfter"></div>

                    </div>
                    <p class="aboutUs"><a href="{% url 'about' %}" class="aboutUs__link">о нас</a></p>
                    <ul class="headerRightMenu">
                        <li class="headerRightMenuItem headerRightMenuItem_login">
                            <a href="#" class="headerRightMenu__link">вход</a>
                        </li>
                        <li class="headerRightMenuItem headerRightMenuItem_search">
                            <a href="#" class="headerRightMenu__link">поиск</a>
                            <img src="{% static 'img/search.png' %}" class="headerRightMenu__img">
                        </li>
                        <li class="headerRightMenuItem headerRightMenuItem_basket">
                            <a href="#" class="headerRightMenu__link">корзина</a>
                            <img src="{% static 'img/basket.png' %}" class="headerRightMenu__img">
                        </li>
                    </ul>
                    <div class="leftMenuLineAfter leftMenuLineAfter_right"></div>
                </div>
            </div>
        </header>
    {% endblock %}
    {% block menu %}

    {% endblock %}

    {% block content %}

    {% endblock %}

    {% block footer %}
        <footer class="footer">
            <div class="container">
                <div class="footerInner">
                    <address class="contacts">
                        <p class="contacts__item">2972 Westheimer Rd. Santa Ana, Illinois 85486</p>
                        <p class="contacts__item">10:00 - 20:00</p>
                        <p class="contacts__item">(239) 555-0108</p>
                    </address>
                    <ul class="footerMenu">
                        <li class="footerMenu__item"><a href="#" class="footerMenu__link">главная</a></li>
                        <li class="footerMenu__item"><a href="#" class="footerMenu__link">поиск</a></li>
                        <li class="footerMenu__item"><a href="#" class="footerMenu__link">каталог</a></li>
                        <li class="footerMenu__item"><a href="#" class="footerMenu__link">корзина</a></li>
                        <li class="footerMenu__item"><a href="#" class="footerMenu__link">доставка</a></li>
                        <li class="footerMenu__item"><a href="#" class="footerMenu__link">вход</a></li>
                    </ul>
                    <div class="footerSocials">
                        <i class="fab fa-facebook footerSocials__item"></i>
                        <i class="fab fa-instagram footerSocials__item"></i>
                    </div>
                </div>
            </div>
        </footer>
    {% endblock %}
</body>
</html>