{% extends 'mainapp/base.html' %}
{% load static %}

{% block title %}
<title xmlns="http://www.w3.org/1999/html">{{ title }}</title>
{% endblock %}
{% block menu %}
 <section class="catalog">
     {% include 'mainapp/includes/inc_main_menu.html' %}
     {% include 'mainapp/includes/inc_slider.html' %}
    {% endblock %}
        {% block content %}
            <div class="container mainProducts">
                <h4 class="catalogFiltersTitle">Фильтр</h4>
                <div class="catalogFilters">
                    <select class="catalogFilters__item">
                        <option>Коллекция</option>
                                </select>
                    <select class="catalogFilters__item">
                        <option>Материал</option>
                    </select>
                    <select class="catalogFilters__item">
                        <option>Цвет</option>
                    </select>
                </div>
                <div class="paginator">
                    {% if products.has_next %}
                        <a href="{% url 'main:page' products.next_page_number %}">
                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                    {% endif %}
                    {% if products.has_previous %}
                        <a href="{% url 'main:page' products.previous_page_number %}">
                            <i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
                    {% endif %}
                </div>
                <div class="products">
                    {% for product in products %}
                        <div class="productsItem">
                            <img src="{{ product.image.url }}" class="productsItem__img">
                            <div class="productItemInfo">
                                <h4 class="productItemInfo__name"><a href="{% url 'product' product.pk %}"
                                                                     class="productItemInfo__link">{{ product.category }}</a></h4>
                                <p class="productItemInfo__price productItemInfo__link linkPrice">{{ product.price }}rub</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="catalogMoreInfo">
                    <span class="catalogMoreInfo__text"><a href="{% url 'main:catalog' %}" class="catalogMoreInfo__link">
                        ЗАГРУЗИТЬ ЕЩЕ</a></span>
                    <div class="catalogMoreInfoLine"></div>
                    <div class="catalogMoreInfoLine catalogMoreInfoLine_length"></div>
                </div>
            </div>
        </section>
    {% endblock %}

